* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.container {
  width: 1320px;
  margin: 0 auto;
}
.mainPart {
  padding: 250px 0;
  background-image: linear-gradient(
    to right top,
    #56021f,
    #600729,
    #6a0e33,
    #74153e,
    #7d1c4a
  );
}
.box {
  background-image: linear-gradient(
    to right,
    #bc00cf,
    #a900d1,
    #9400d3,
    #7b00d4,
    #5d00d6
  );
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.groupBtn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 25px 50px;
  background-image: linear-gradient(
    to right,
    #bc00cf,
    #a900d1,
    #9400d3,
    #7b00d4,
    #5d00d6
  );
  color: #fff;
  border-radius: 10px;
  font-size: 100px;
  border: none;
  margin: 0 20px;
}
